<a href="https://colab.research.google.com/github/anishgowda21/5th-sem-projects/blob/main/Artificial%20Intelligence/decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from  sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [ ]:
play_cricket = pd.read_csv("https://gist.githubusercontent.com/phantom2152/58c5130b4c65c388bcc84652112dc253/raw/51824e9c980a03171aee978efa716c1a6a6f1256/Cs.csv")
play_cricket.head()

  Day   Outlook Humidity    Wind Playcricket
0  D1     sunny     high    weak          no
1  D2     sunny     high  strong          no
2  D3  overcast     high    weak         yes
3  D4      rain     high    weak         yes
4  D5      rain   normal    weak         yes

In [ ]:
play_cricket.tail()

    Day   Outlook Humidity    Wind Playcricket
9   D10      rain   normal    weak         yes
10  D11     sunny   normal  strong         yes
11  D12  overcast     high  strong         yes
12  D13  overcast   normal    weak         yes
13  D14      rain     high  strong          no

In [ ]:
number = LabelEncoder()
play_cricket['Outlook'] = number.fit_transform(play_cricket['Outlook'])
play_cricket['Humidity'] = number.fit_transform(play_cricket['Humidity'])
play_cricket['Wind'] = number.fit_transform(play_cricket['Wind'])
print(play_cricket)

    Day  Outlook  Humidity  Wind Playcricket
0    D1        2         0     1          no
1    D2        2         0     0          no
2    D3        0         0     1         yes
3    D4        1         0     1         yes
4    D5        1         1     1         yes
5    D6        1         1     0          no
6    D7        0         1     0         yes
7    D8        2         0     1          no
8    D9        2         1     1         yes
9   D10        1         1     1         yes
10  D11        2         1     0         yes
11  D12        0         0     0         yes
12  D13        0         1     1         yes
13  D14        1         0     0          no

In [ ]:
features = ["Outlook","Humidity","Wind"]
target = "Playcricket"

In [ ]:
features_train, features_test, target_train, target_test = train_test_split(play_cricket[features],play_cricket[target],test_size = 0.25,random_state = 58)

In [ ]:
clf = DecisionTreeClassifier(criterion = 'entropy')
clf.fit(features_train, target_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
y_pred = clf.predict(features_test)

In [ ]:
accuracy = accuracy_score(target_test, y_pred)
print(accuracy)

0.75

In [ ]:
print (clf.predict([[1,0,0]]))

['no']