<a href="https://colab.research.google.com/github/anishgowda21/5th-sem-projects/blob/main/Artificial%20Intelligence/randomforest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importing required libraries
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [ ]:
data = pd.read_csv("https://github.com/phantom2152/csvfiles/raw/main/gender_classification_v7.csv")
data.head()
data=data.drop(['forehead_width_cm','forehead_height_cm'],axis=1)
data.head()

   long_hair  nose_wide  ...  distance_nose_to_lip_long  gender
0          1          1  ...                          1    Male
1          0          0  ...                          0  Female
2          0          1  ...                          1    Male
3          0          0  ...                          1    Male
4          1          0  ...                          0  Female

[5 rows x 6 columns]

In [ ]:

print(data)

      long_hair  nose_wide  ...  distance_nose_to_lip_long  gender
0             1          1  ...                          1    Male
1             0          0  ...                          0  Female
2             0          1  ...                          1    Male
3             0          0  ...                          1    Male
4             1          0  ...                          0  Female
...         ...        ...  ...                        ...     ...
4996          1          0  ...                          0  Female
4997          1          0  ...                          0  Female
4998          1          0  ...                          0  Female
4999          1          0  ...                          0  Female
5000          1          1  ...                          1    Male

[5001 rows x 6 columns]

In [ ]:
features = ["long_hair","nose_wide","nose_long","lips_thin","distance_nose_to_lip_long"]
target = "gender"

In [ ]:
features_train, features_test, target_train, target_test = train_test_split(data[features],data[target],test_size = 0.25,random_state = 21)

In [ ]:
clf = RandomForestClassifier(n_estimators=20, criterion='entropy')
clf.fit(features_train, target_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=20,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
y_pred = clf.predict(features_test)

In [ ]:
accuracy = accuracy_score(target_test, y_pred)
print(accuracy)

0.9608313349320543

In [ ]:
print (clf.predict([[1,0,0,0,1]]))

['Female']